# Python stuff
.pytest_cache
__pycache__/

# test results
.coverage
results/

# default output file used in testing
export.enex

# install stamp used for makefile
.install.stamp

# dist file build
dist/

# IDE
.idea
.vscode
